ct-smart-home/nodered-flow.json
[
    {
        "id": "4cc9f29294962274",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e5c8f21a2b81a677",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2213136489d24dfd",
        "type": "ui_tab",
        "name": "FES",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1b644b5d45d1e407",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f29902af4e63db73",
        "type": "ui_group",
        "name": "FES",
        "tab": "2213136489d24dfd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86ad30209a56ec25",
        "type": "ui_tab",
        "name": "Building Management",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "22f5ad49dc5d9773",
        "type": "ui_group",
        "name": "FliegerHof",
        "tab": "86ad30209a56ec25",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a45684fca5c8a13",
        "type": "ui_group",
        "name": "Huette",
        "tab": "86ad30209a56ec25",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e4866d400dcad3f3",
        "type": "mqtt-broker",
        "name": "mqtt-docker-intern",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "699df2aa12930b5e",
        "type": "ui_group",
        "name": "Fes SOC",
        "tab": "2213136489d24dfd",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e2f485de2c26e7a",
        "type": "ui_group",
        "name": "Fes ConfigForm",
        "tab": "2213136489d24dfd",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a88259e2079b8b8",
        "type": "ui_button",
        "z": "4cc9f29294962274",
        "name": "SOC Target Set 50",
        "group": "f29902af4e63db73",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "SOC Target Set 50",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"command\":\"bat=all target_soc=50\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "f9968f5a3736518a"
            ]
        ]
    },
    {
        "id": "ad5662aa4cc56c03",
        "type": "ui_button",
        "z": "4cc9f29294962274",
        "name": "Charge All",
        "group": "f29902af4e63db73",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Charge All",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"command\": \"bat=all charge\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "f9968f5a3736518a"
            ]
        ]
    },
    {
        "id": "b6eba3ec47499756",
        "type": "ui_chart",
        "z": "4cc9f29294962274",
        "name": "",
        "group": "699df2aa12930b5e",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "SOC BTT1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d3a101af825fd9b3",
        "type": "ui_chart",
        "z": "4cc9f29294962274",
        "name": "",
        "group": "699df2aa12930b5e",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "SOC BTT2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f9968f5a3736518a",
        "type": "mqtt out",
        "z": "4cc9f29294962274",
        "name": "fes-controller",
        "topic": "/fes/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e4866d400dcad3f3",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "90f448c7c2521eca",
        "type": "mqtt in",
        "z": "4cc9f29294962274",
        "name": "fes-status",
        "topic": "/fes/state",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4866d400dcad3f3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "f802c59a80f44c43"
            ]
        ]
    },
    {
        "id": "217e2447c886dd14",
        "type": "ui_form",
        "z": "4cc9f29294962274",
        "name": "fesConfig",
        "label": "",
        "group": "8e2f485de2c26e7a",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Target Soc",
                "value": "targetSoc",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Start Time",
                "value": "startTime",
                "type": "time",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "targetSoc": "",
            "startTime": ""
        },
        "payload": "",
        "submit": "update",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 180,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "15d8f5548d37ad68",
        "type": "debug",
        "z": "4cc9f29294962274",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "fe16479d5d7e77da",
        "type": "ui_button",
        "z": "4cc9f29294962274",
        "name": "SOC Target Set 90",
        "group": "f29902af4e63db73",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "SOC Target Set 90",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"command\":\"bat=all target_soc=90\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "f9968f5a3736518a"
            ]
        ]
    },
    {
        "id": "07c7bffc69d4714e",
        "type": "ui_button",
        "z": "4cc9f29294962274",
        "name": "DisCharge All",
        "group": "f29902af4e63db73",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "DisCharge All",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"command\": \"bat=all discharge\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "f9968f5a3736518a"
            ]
        ]
    },
    {
        "id": "b542fd1a5a50192f",
        "type": "ui_button",
        "z": "4cc9f29294962274",
        "name": "Stop All",
        "group": "f29902af4e63db73",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop All",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"command\": \"bat=all switchoff_charge\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "f9968f5a3736518a"
            ]
        ]
    },
    {
        "id": "0d8e81d752a5ada5",
        "type": "ui_button",
        "z": "4cc9f29294962274",
        "name": "ShutDown",
        "group": "f29902af4e63db73",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ShutDown",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"command\": \"bat=all shutdown\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "f9968f5a3736518a"
            ]
        ]
    },
    {
        "id": "f802c59a80f44c43",
        "type": "function",
        "z": "4cc9f29294962274",
        "name": "tojson",
        "func": "msg.payload=JSON.parse(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 360,
        "wires": [
            [
                "130f5933e83f59d5",
                "2323de3440b8de16",
                "3f1876304e2c5436",
                "b6375c8ae74e8a0d"
            ]
        ]
    },
    {
        "id": "130f5933e83f59d5",
        "type": "function",
        "z": "4cc9f29294962274",
        "name": "batt1_soc",
        "func": "\n\ncurrentsoc={}\n\ncurrentsoc.payload=msg.payload.batt1.currentSOC\ncurrentsoc.topic='currentSOC'\n\nreturn currentsoc;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 300,
        "wires": [
            [
                "b6eba3ec47499756"
            ]
        ]
    },
    {
        "id": "2323de3440b8de16",
        "type": "function",
        "z": "4cc9f29294962274",
        "name": "batt2_soc",
        "func": "\n\ncurrentsoc={}\n\ncurrentsoc.payload=msg.payload.batt2.currentSOC\ncurrentsoc.topic='currentSOC'\n\nreturn currentsoc;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 400,
        "wires": [
            [
                "d3a101af825fd9b3"
            ]
        ]
    },
    {
        "id": "3f1876304e2c5436",
        "type": "function",
        "z": "4cc9f29294962274",
        "name": "batt1_soc",
        "func": "\n\ntargetsoc={}\n\ntargetsoc.payload=msg.payload.batt1.targetSOC\ntargetsoc.topic='targetSOC'\n\nreturn targetsoc;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 340,
        "wires": [
            [
                "b6eba3ec47499756"
            ]
        ]
    },
    {
        "id": "b6375c8ae74e8a0d",
        "type": "function",
        "z": "4cc9f29294962274",
        "name": "batt2_soc",
        "func": "\n\ntargetsoc={}\n\ntargetsoc.payload=msg.payload.batt2.targetSOC\ntargetsoc.topic='targetSOC'\n\nreturn targetsoc;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 440,
        "wires": [
            [
                "d3a101af825fd9b3"
            ]
        ]
    },
    {
        "id": "1a401faa80eb2061",
        "type": "ui_button",
        "z": "e5c8f21a2b81a677",
        "name": "",
        "group": "22f5ad49dc5d9773",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Heizung",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2e496c8d297d41ad",
        "type": "ui_button",
        "z": "e5c8f21a2b81a677",
        "name": "",
        "group": "9a45684fca5c8a13",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Licht An :)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 160,
        "wires": [
            []
        ]
    }
]